.title {
  font-size: 35px;
  font-weight: 500;
  color: black;
  margin-bottom: 5%;
}

.text {
  color: #373737;
  font-size: 17px;
  margin-bottom: 15%;
}

.card {
  width: 320px;
  height: 400px;
  background-color: #373737;
  color: #fff;
  border-radius: 20px;

  text-align: center;
  letter-spacing: 1px;
}

.card::before {
  content: '';
}

.card img {
  width: 200px;
}
