.bg {
  background-color: #8cc3ce;
  width: 100%;
  padding: 3% 7% 1% 7%;
  margin: 2% 0 0 0;
}

.company {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.text {
  color: #fff;
  font-size: 14px;
}

.social {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px 0 0;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list li {
  list-style-type: none;
  margin-right: 10px;
}

section li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.img {
  border: 1px #fff solid;
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
}

.small-text {
  color: #7c8587;
  font-size: 12px;
  margin: 0;
}

.big-text {
  color: #fff;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}
