.main-text {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  z-index: 5;
  margin-top: 10%;
  margin-left: 20%;
  text-shadow: 2px 2px 3px black;
}

.small-text {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  z-index: 5;
  margin-top: 25%;
  margin-left: 20%;
}
